@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Master.cshtml";
}

@* the fun starts here *@

  <!-- Contact -->
    <section id="contact" style="color: white;   background-image: url('/media/1006/2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; ">
      <div class="container" style="position: center;">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h5 class="section-heading text-uppercase">Share your thought with us!</h5>

          </div>
          <div style="position:center;!important">
                       				@Umbraco.RenderMacro("renderUmbracoForm", new {FormGuid="2f56449c-4c9b-415f-82c5-7455612539b9", FormTheme="", ExcludeScripts="0"})
</div>
        </div>
        

                <div class="clearfix"></div>
                <div class="col-lg-12 text-center">
                  <div id="success"></div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>